/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-yellow: 45, 100%, 73%;
    --clr-earth-terracot: 13, 69%, 63%;
    --clr-dark-green: 172, 47%, 48%;
    --clr-pink-ochre: 341, 31%, 66%;
    --clr-bright-green: 170, 39%, 64%;
    --clr-dark: 0, 0%, 18%;

    /* font-families */
    --ff-inter: 'Inter', sans-serif;

    /* size */
    --size-1: 1px;
    --size-2: 2px;
    --size-3: 3px;
}

body {
    background-color: hsl( var(--clr-bright-green) );
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.border-right-1 {
    border-right: hsl( var(--clr-dark-green) ) solid var(--size-1);
}

.border-bottom-1 {
    border-bottom: hsl( var(--clr-dark-green) ) solid var(--size-1);
}

.border-right-2 {
    border-right: hsl( var(--clr-dark-green) ) solid var(--size-2);
}

.border-bottom-2 {
    border-bottom: hsl( var(--clr-dark-green) ) solid var(--size-2);
}

.border-nonogram-tbl {
    border: hsl( var(--clr-dark) ) solid var(--size-3);
}

.clr-yellow {
    background-color: hsl( var(--clr-yellow) );
}

.shadow-dark {
    box-shadow:  8px 8px 0 0 hsl( var(--clr-dark) );
}

.gap-4 {
    gap: 1rem;
}

.m-4 {
    margin: 1rem;
}

.p-4 {
    padding: 1rem;
}

.min-height-2 {
    min-height: 2rem;
}

.level-button {
    padding: 0.6rem 4rem;
    color: rgba(255, 255, 255, 0.964);
    border: none;
    background-color: hsl( var(--clr-pink-ochre) );
    font-weight: 700;
    font-size: 1.2rem;
    box-shadow:  8px 8px 0 0 hsl( var(--clr-dark) );
}

.level-button:hover{
    cursor: pointer;
}

.level-button.pushed{
    background-color: rgb(5, 114, 141);
    color: azure;
}

.clue-cell {
    min-height: 2rem;
}


.empty-cell {
    min-height: 2rem;
}

.picked-dark {
    background-color: rgba(0, 0, 0, 0.695);

}